<div class="container">
  <div class="row">
    <h3 class="mt-3">Clientes</h3>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class=" col-xs-12 col-sm-12 col-md-10">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <button  mat-raised-button color="primary">
              Clientes
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="row mt-2">
            <div class="col-md-12" align="right">
              <mat-form-field>
                <mat-select selected="all" (selectionChange)="getClientsbyOffice($event.value)" placeholder="Filtrar por Sucursal">
                  <mat-option value="all" >Todas</mat-option>
                  <mat-option *ngFor="let branch of branches" value="{{branch._id}}">{{branch.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row  mt-3">
            <div class="col-md-12 col-xs-12">
              <table mat-table class="mat-elevation-z2" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                  <td mat-cell *matCellDef="let row">
                    {{ dataSource.filteredData.indexOf(row) + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef>Nombre</th>
                  <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>
                <ng-container matColumnDef="dni">
                  <th mat-header-cell *matHeaderCellDef>Cedula</th>
                  <td mat-cell *matCellDef="let row">{{ row.dni }}</td>
                </ng-container>
                <ng-container matColumnDef="correo">
                  <th mat-header-cell *matHeaderCellDef>Correo</th>
                  <td mat-cell *matCellDef="let row">{{ row.email }}</td>
                </ng-container>
                <ng-container matColumnDef="registro">
                  <th mat-header-cell *matHeaderCellDef>Fecha de registro</th>
                  <td mat-cell *matCellDef="let row">{{ row.registered }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>


