<div class="container">
  <div class="row">
    <h3 class="mt-3">Oficinas</h3>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class=" col-xs-12 col-sm-12 col-md-10">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <button (click)="openDialog(Modal)" mat-raised-button color="primary">
              Nueva Oficina
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="row mt-2">
            <div class="col-md-12" align="right">
              <mat-form-field>
                <mat-select selected="all" (selectionChange)="getOfficesbyId($event.value)" placeholder="Filtrar por ciudad">
                  <mat-option value="all" >Todas</mat-option>
                  <mat-option *ngFor="let city of cities" value="{{city._id}}">{{city.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row  mt-3">
            <div class="col-md-12 col-xs-12">
              <table mat-table class="mat-elevation-z2" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                  <td mat-cell *matCellDef="let row">
                    {{ dataSource.filteredData.indexOf(row) + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef>Nombre</th>
                  <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>
                <ng-container matColumnDef="clientes">
                  <th mat-header-cell *matHeaderCellDef>Clientes</th>
                  <td mat-cell *matCellDef="let row">{{ row.clients }}</td>
                </ng-container>
                <ng-container matColumnDef="registro">
                  <th mat-header-cell *matHeaderCellDef>Fecha de registro</th>
                  <td mat-cell *matCellDef="let row">{{ row.registered }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<ng-template #Modal>
  <h3>Agregar Sucursal</h3>
  <form [formGroup]="createForm">
    <div class="example-container">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Nombre de la sucursal">
        <mat-error *ngIf="G.name.errors && submitted">Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="city" placeholder="Seleccione la ciudad">
          <mat-option *ngFor="let city of cities" value="{{city._id}}">{{city.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="G.city.errors && submitted">Campo requerido</mat-error>
      </mat-form-field>
    </div>
  </form>
  <mat-divider></mat-divider>
  <div class="mt-1" align="right">
    <button align="right" color="accent" mat-raised-button (click)="submitForm()">Agregar</button>
  </div>
</ng-template>

