<div class="container">
  <div class="row">
    <h3 class="mt-3">Ciudades</h3>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class=" col-xs-12 col-sm-12 col-md-10">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <button
              (click)="openDialog(Modal)"
              mat-raised-button
              color="primary"
            >
              Nueva Ciudad
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="row  mt-3">
            <div class="col-md-12 col-xs-12">
              <table mat-table class="mat-elevation-z2" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="numero">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                  <td mat-cell *matCellDef="let row">
                    {{ dataSource.filteredData.indexOf(row) + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="ciudad">
                  <th mat-header-cell *matHeaderCellDef>Ciudad</th>
                  <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef>Departamento</th>
                  <td mat-cell *matCellDef="let row">{{ row.state }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<ng-template #Modal>
  <h3>Agregar Ciudad</h3>
  <form [formGroup]="createForm">
    <div class="example-container">
      <mat-form-field>
        <input formControlName="city_name" matInput placeholder="Nombre de la ciudad">
        <mat-error *ngIf="G.city_name.errors && submitted">Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="state" type="text" matInput placeholder="Contraseña"/>
        <mat-error *ngIf="G.state.errors && submitted">Campo requerido</mat-error>
      </mat-form-field>
    </div>
  </form>
  <mat-divider></mat-divider>
  <div class="mt-1" align="right">
    <button align="right" color="accent" mat-button (click)="submitForm()">Agregar</button>
  </div>
</ng-template>
