<mat-toolbar color="primary">
  <span>No Pain No Gain</span>
  <span class="example-spacer"></span>
  <button [routerLink]="[ '/register' ]" mat-button>Registro</button>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12 col-sm-12 mt">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Iniciar Sesion!</mat-card-title>
          <mat-card-subtitle>Ingresar al sistema!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginForm">
            <div class="example-container">
              <mat-form-field>
                <input formControlName="username" matInput placeholder="Correo Electronico" />
                <mat-error *ngIf="G.username.errors && submitted">Campo requerido</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="password" type="password" matInput placeholder="Contraseña" />
                <mat-error *ngIf="G.password.errors && submitted">Campo requerido</mat-error>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="container" align="right">
            <button color="accent" (click)="signIn()" mat-raised-button>Iniciar Sesión</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
