body { 
    background-color: lightgrey;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.mt {
    margin-top: 80px;
}

button {
    margin-right: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}