<mat-toolbar color="primary">
  <span>No Pain No Gain</span>
  <span class="example-spacer"></span>
  <button [routerLink]="[ '/login' ]" mat-button>Log in</button>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12 col-sm-12 mt">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Registrate!</mat-card-title>
          <mat-card-subtitle>Registro de nuevos clientes!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="registerForm">
            <div class="example-container">
              <mat-form-field>
                <input formControlName="name" matInput placeholder="Nombre Completo" />
                <mat-error *ngIf="G.name.errors && submitted">Campo requerido</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="dni" matInput placeholder="Cedula" />
                <mat-error *ngIf="G.dni.errors && submitted">Campo requerido</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="email" matInput placeholder="Correo Electronico" />
                <mat-error *ngIf="G.email.errors && submitted">Campo requerido</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="city" (selectionChange)="getOffices($event.value)" placeholder="Ciudades">
                  <mat-option *ngFor="let city of cities" value="{{city._id}}">{{city.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="G.city.errors && submitted">Campo requerido</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="boffice" placeholder="Sedes">
                  <mat-option *ngFor="let office of offices" value="{{office._id}}">{{office.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="G.boffice.errors && submitted">Campo requerido</mat-error>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="container" align="right">
            <button color="accent" (click)="registerClient()" mat-raised-button>Registrame</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
